@model IEnumerable<MvcQLTC.Models.DM_QUY>

@{
    ViewBag.Title = "Index";
}
<style>
    #tbl_DmQuy > thead > tr > th {
        border:1px groove #000;
    }
    #tbl_DmQuy > tbody > tr > td {
        border:1px solid #000;
    }
</style>
<h2>Danh mục Quỹ</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tbl_DmQuy" style="min-width:1000px">
    <thead style="vertical-align:middle">
        <tr>
            <th>
                @Html.DisplayName("User Name")
            </th>
            <th>
                @Html.DisplayName("Tên Quỹ")
            </th>
            <th>
                @Html.DisplayName("Số tiền")
            </th>
            <th>
                @Html.DisplayName("Đơn vị tính")
            </th>
            <th>
                @Html.DisplayName("Số tiền cũ")
            </th>
            <th>
                @Html.DisplayName("Ghi chú")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.USER.USER_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SO_TIEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DM_DVT.TEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOG_SO_TIEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GHI_CHU)
                </td>
                <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>

</table>
