@model MvcQLTC.Models.DM_THU_CHI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DM_THU_CHI</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DM_TU_DIEN.TEN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DM_TU_DIEN.TEN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.USER.USER_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.USER.USER_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GHI_CHU)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GHI_CHU)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
