@model MvcQLTC.Models.DM_THU_CHI

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DM_THU_CHI</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEN)
            @Html.ValidationMessageFor(model => model.TEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_LOAI, "DM_TU_DIEN")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_LOAI", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_LOAI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_USER, "USER")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_USER", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_USER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GHI_CHU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GHI_CHU)
            @Html.ValidationMessageFor(model => model.GHI_CHU)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
