@model IEnumerable<MvcQLTC.Models.DM_THU_CHI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_TU_DIEN.TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USER.USER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GHI_CHU)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_TU_DIEN.TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER.USER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GHI_CHU)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
